<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : 'Performance Dashboard' %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : 'Performance Dashboard' %>">
    <%= stylesheet_link_tag 'perfdashboard/application', media: 'all' %>
    <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
    <%= javascript_include_tag 'perfdashboard/application' %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <header>
      <%= render 'layouts/perfdashboard/navigation' %>
    </header>
    <main class="container-fluid" role="main">
       <%= render 'layouts/perfdashboard/messages' %>
       <%= content_for?(:content) ? yield(:content) : yield %>
    </main>
  </body>
</html>
