<table class="table">
  <tbody>
    <tr>
      <td><%= @error_rate %>%</td>
      <td><%= format_ms @requests.average(:duration) %></td>
    </tr>
  </tbody>
  <thead>
    <tr>
      <th>Error rate</th>
      <th>Avg request time</th>
    </tr>
  </thead>
</table>

<h3>Performance</h3>
<%= area_chart @requests.group_by_minute(:created_at).average(:duration), {library: {vAxis: {title: "ms"}}} %>

<% if @action && (request = @requests.last) %>
  <% queries = request.context_infos.where(perfdashboard_contexts: {name: 'queries'}) %>
  <h3>Sample request</h3>
  <strong>id:</strong> <%= request.id %>
  <strong>duration:</strong> <%= request.duration %>

  <%= render 'perfdashboard/common/queries_list', queries: queries %>

<% else %>
  <h3>Most time consuming</h3>
  <table class="table">
    <tbody>
      <% @requests.group(:controller, :action).order(duration: :desc).limit(5).average(:duration).each do |request, value| %>
        <tr>
          <td>
            <%= link_to(params.merge(c: request.first, a: request.second)) do %>
              <%= request.first %>#<%= request.second %>
            <% end %>
          </td>
          <td><%= format_ms(value) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>
